{% load crispy_forms_tags %}
{% load static %}
<!doctype html>
  <html>
  <head>
    <style>
.button {
  background-color: #ec4b28;
  border: none;
  font-family: 'Sora', sans-serif;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

</style>
        
          <title >A2L Book Event</title>
         

     </head>  
      <body style="font-size: 20px; color: #1f90ff; background-color: #141427; font-family: 'Nunito Sans';">

        <div class="container col-4 offset-4 mb-5 mt-5" style=""> 
          
{% if name %}


<div class="jumbotron jumbotron-fluid d-flex align-items-center min-vh-100" >
          <div class="container text-center">
<h1>Thank you </h1><p> Some one from our events team will soon get in touch</p>
</div>
</div>


{% else %}
          <div class="header">
           
           <img src="{% static 'image/logo2.png' %}" >

        	<div style="font-family: 'Gothic A1';"><h1>Arts2Life Book Event</h1></div>
            </div>
        	<br>


<form method="POST" enctype="multipart/form-data" action="" class="form-group " > 
    {% csrf_token %} 
    {{ form|crispy }} <br><br>

    <input  class="btn button" type="submit" value="Submit"> 
    </div>
</form> 

{% endif %}

</div>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Sora:wght@600&display=swap" rel="stylesheet">
<!-- Optional theme -->
<link href="https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700;900&family=Sora:wght@600&display=swap" rel="stylesheet">
<script src= 'https://code.jquery.com/jquery-3.5.0.min.js'></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
